<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><center>BITKAR PRIVACY POLICY</center></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

<p>Last Revised: December 13, 2013</p>
<p>Our privacy policy applies to information bitkar, Inc. ("we" or "bitkar") collect when you use or access our website, mobile and Web applications, or just interact with us at <a href="http://www.bitkar.com/">www.bitkar.com</a> (collectively our "Services"). We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective within the time period after we post the revised privacy policy (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.</p>

<h1>Collection of Information</h1>
<h2>Information You Provide to Us</h2>
<p>We collect information you provide directly to us. For example, we collect information when you participate in any interactive features of our Services, fill out a form, request customer support, provide any contact or identifying information or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information, vehicle information, and other contact or identifying information you choose to provide.</p>

<h2>Information We Collect Automatically When You Use the Services</h2>
<p>When you access or use our Services, we automatically collect information about you, including:</p>

<ul>
<li><p><b>Log Information:</b> We log information about your use of our Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our services.</p></li>

<li><p><b>Device Information:</b> We collect information about the computer or mobile device including phones, tablets or any telematics device you use to access our services, including the hardware model, and operating system and version.</p></li>

<li><p><b>Location Information:</b> We may collect information about the location of your device each time you access or use one of our mobile applications or otherwise consent to the collection of this information.</p></li>

<li><p><b>Information Collected by Cookies and Other Tracking Technologies:</b> We use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and to track count visits or understand usage and campaign effectiveness.</p></li>
</ul>

<p>For more details about how we collect information, including details about cookies and how to disable them, please see "Your Information Choices" below.</p>

<h2>Information We Collect From Other Sources</h2>
<p>In order to provide you with access to the Service, or to provide you with better service in general, we may combine information obtained from other sources (for example, a third-party service whose application you have authorized or used to sign in) and combine that with information we collect through our services.</p>

<h1>Use of Information</h1>
<p>We use information about you for various purposes, including to:</p>

<ul>
<li>Provide, maintain and improve our Services;</li>
<li>Provide services you request, process transactions and to send you related information;</li>
<li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
<li>Respond to your comments, questions and requests and provide customer service;</li>
<li>Communicate with you about news and information related to our Service;</li>
<li>Monitor and analyze trends, usage and activities in connection with our Services; and</li>
<li>Personalize and improve our Services.</li>
</ul>

<p>By accessing and using our Services, you consent to the processing and transfer of your information in and to the United States and other countries.</p>

<h1>Sharing of Information</h1>
<p>We may share personal information about you as follows:</p>

<ul>
<li>With third party vendors and other service providers who need access to your information to carry out work on our behalf, such as companies that provide data used in the Services to estimate repair costs based on databases for parts and labor among other sources of data or third party software components used in the Services. </li>
<li>Third party advertisers</li>
<li>If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;</li>
<li>To enforce applicable user agreements or policies, including our End User License Agreement at <a href="http://www.bitkar.com/">http://www.bitkar.com</a>; and to protect us, our users or the public from harm or illegal activities;</li>
<li>In connection with any merger, sale of bitkar assets, financing or acquisition of all or a portion of our business to another company; and</li>
<li>If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.</li>
</ul>

<p>We may also share aggregated or anonymized information that does not directly identify you.</p>

<h1>Third Party Analytics and Services</h1>
<p>We work with third party software and service vendors to provide analytics services and we extract insights from the analytic services to deliver a better user experience with the Services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.</p>

<p>Since bitkar's mobile applications will be distributed by Application Stores such as Google Play or Apple’s App Store among other third party application stores, the terms of their respective privacy policies will apply in addition to the this bitkar Privacy Policy.  We encourage you to read and abide by those third party policies.</p>

<h1>Opting Out Through The Network Advertising Initiative</h1>
<p>
bitkar may performs behavioral targeting, retargeting or interest-based advertising.  You can also opt out of receiving cookies from some third party and any other Network Advertising Initiative (NAI) compliant company by clicking here: <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>. You will find a mechanism to opt-out from Non-Personally Identifiable Information collection by a number of different demand partners and other Internet companies, including third-party data providers.  If you opt-out through the Network Advertising Initiative (NAI), please refer to the FAQ available on the NAI website to understand how their opt-out mechanism works.</p>

<h1>Security</h1>
<p>We take reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>

<h1>Children Under 13 Years Of Age</h1>
<p>bitkar's Service is not intended for persons under 13 years of age, and is not intentionally developed for or directed to children. We do not knowingly solicit or collect any personally identifiable information from children under the age of 13, nor do we knowingly market our products or services to children under the age of 13.</p>


<h1>Your Information Choices</h1>
<h2>Location Information</h2>
<p>By downloading and installing  bitkar's mobile applications you consent to the collection of location information. This location information coupled with other usage data and your vehicle information is used to deliver a richer application experience. </p>

<h2>Cookies</h2>
<p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.</p>

<h2>Promotional Communications</h2>
<p>You may opt out of receiving any promotional emails from us by following the instructions in those emails. If you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.</p>

<h2>Your California Privacy Rights</h2>
<p>California law permits residents of California to request certain details about how their information is shared with third parties for direct marketing purposes. If you are a California resident and would like to make such a request, please contact us at <a href="mailto:info@bitkar.com">info@bitkar.com</a>. However, please note that under the law, Services such as ours that permit California residents to opt in to, or opt out of, this type of sharing are not required to provide such information upon receiving a request, but rather may respond by notifying the user of his or her right to prevent the disclosure. To opt out of having information about you shared with third parties for direct marketing purposes you may need to sign off the bitkar service. </p>

<h2>Contact Us</h2>
<p>If you have any questions about this privacy policy, please contact us at <a href="mailto:info@bitkar.com">info@bitkar.com</a>. </p>
</div></div></div>