<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">{{productDetails.productInfo.title}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="product_sound" class="container">
    <div class="row">
        <div ng-if="productDetails.productInfo" id="single-prod-top" class="prod-top-img col-md-12">
            <div class="col-md-4 pp-cont-det">
                <div class="details-single-img {{productDetails.productInfo.vendor}}">
                    <img ng-src="{{productDetails.productInfo.galleryURL}}" alt="{{productDetails.productInfo.title}}"/>
                </div>
            </div>
            <div class="col-md-8 det-info-prod">
                <div class="single-prod-info">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="det-sound">
                                <h1 class="product-name-title">{{productDetails.productInfo.title}}</h1>
                                <p class="subtitle"> ( {{productDetails.productInfo.categoryName}} )  </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p class="shop-price">{{productDetails.productInfo.price | currency:"$":2}}</p>
                        </div>
                    </div>
                </div>
                <div class="single-prod-description">
                    {{productDetails.productInfo.subtitle}}
                </div>
                <div class="details-material">
                    <ul class="attrs">
                        <li ng-repeat="(key, val) in productDetails.productInfo.attributes"><i class="fa fa-tags"></i><span class="attr">{{key}}</span>{{val}}</li>
                        <li><i class="fa fa-tags"></i><span class="attr">Qty</span>{{productDetails.productInfo.quantity}}</li>
                    </ul>
                </div>
                <div class="single-prod-button">
                    <a class="btn btn-lg btn-primary" ng-href="{{productDetails.productInfo.viewItemURL}}">
                        <i class="fa fa-shopping-cart"></i> BUY NOW
                    </a>
                    <a class="btn btn-lg btn-primary bt-back" href="/shop">
                        <i class="icon-chevron-left"></i> Back to home
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-if="productDetails.productInfo.description" class="details-description">
                    <div class="need-decode">
                        {{productDetails.description()}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>